.hero {
  min-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.835);
  background-image: url(../../images/building.jpg);
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--clr-true-light);
}

.hero__title {
  font-family: var(--ff-Roboto);
  font-size: min(4.5rem + 3vw, 10rem);
  margin-bottom: 1rem;
  margin-left: 3rem;
}

.hero__cards {
  display: flex;
  flex-direction: column;
}

.hero__card {
  padding: 2rem;
  background-color: var(--clr-true-dark);
}

.hero__card--accent {
  background-color: var(--clr-accent);
}

.hero__card--accent .hero__card__title {
  color: var(--clr-true-dark);
}

.hero__card__title {
  font-family: var(--ff-Baloo2);
  font-size: 1.75rem;
}

.hero__card ul {
  padding: 1rem;
  list-style: "✓";
}

.hero__card__item {
  padding-left: 1rem;
  font-family: var(--ff-OpenSans);
  font-size: calc(1.65rem);
  line-height: 2;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.295);
}

@media screen and (min-width: 650px) {
  .hero__cards {
    flex-direction: row;
  }

  .hero__card {
    width: 35%;
  }
}

@media screen and (min-width: 750px) {
  .hero__cards {
    justify-content: flex-end;
  }
}