.info {
  background-color: var(--clr-primary-dark);
}

.info > .container {
  padding-bottom: 5rem;
}

.info__nav {
  display: grid;
  grid-template-rows: repeat(1fr);
  font-family: var(--ff-Roboto);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  gap: .5rem;
  margin-bottom: 5rem;
}

.info__nav-btn {
  padding: 1.4rem 2rem;
  background-color: var(--clr-true-light);
  cursor: pointer;
}

.info__nav-btn--active {
  background-color: var(--clr-accent) !important;
}

.info__page {
  display: none;
}

.info__page--active {
  display: block;
}

.description__image {
  aspect-ratio: 1;
  object-fit: cover;
  width: 23rem;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.info__page__text {
  font-family: var(--ff-OpenSans);
  font-size: 1.65rem;
  color: var(--clr-true-light);
  margin-bottom: 3rem;
}

.reviews__title {
  font-size: 3.15rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  font-family: var(--ff-Montserrat);
  color: var(--clr-true-light);
}

.info__page__button {
  font-family: var(--ff-OpenSans);
  padding: 1rem 2.95rem;
  background-color: var(--clr-accent);
  font-size: 1.7rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--clr-true-dark);
}

@media screen and (hover:hover) {
  .info__nav-btn:hover {
    background-color: var(--clr-primary-light);
  }

  .info__page__button:hover {
    background-color: var(--clr-accent-dark);
  }
}

@media screen and (min-width: 600px) {
  .info__nav {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .reviews-btn {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 900px) {
  .info__nav {
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
  }

  .reviews-btn {
    grid-column: auto;
  }
}