@import url('./utils/reset.css');
@import url('./utils/colors.css');
@import url('./utils/fonts.css');

/* hero section 
***************************** */
@import url('./sections/hero.css');

/* about section
***************************** */
@import url('./sections/about.css');

/* services section
***************************** */
@import url('./sections/services.css');

/* info section
***************************** */
@import url('./sections/info.css');

/* strategies section
***************************** */
@import url('./sections/strategies.css');

/* clients section
***************************** */
@import url('./sections/clients.css');

/* marketing section
***************************** */
@import url('./sections/marketing.css');

.container {
  padding: 5rem 4rem;
  max-width: 120rem;
  margin-inline: auto;
}

.list-nostyle {
  list-style: none;
  padding: 0;
}